:root {
  --foreground: #213547;
  --background: #dce4ee;
  --primary: #646cff;
  --contrast: #ffffff;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  font-family: Inter, system-ui, sans-serif;
  margin: 0;
  min-height: 100vh;
  place-items: center;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  max-width: 64ch;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

h1 {
  margin:0;
}

form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

label {
  font-weight: bold;
  line-height: 1;
}

input {
  background: var(--contrast);
  border-radius: .5rem;
  border: none;
  color: var(--foreground);
  font-size: 1rem;
  padding: 0.75rem;
}

button {
  background-color: var(--primary);
  border-radius: 0.5rem;
  border: none;
  color: var(--contrast);
  cursor: pointer;
  font-size: 1rem;
  padding: 0.75rem;
}

pre {
  background-color: var(--foreground);
  border-radius: .5rem;
  border: none;
  color: var(--contrast);
  padding: 1rem;
  text-align: left;
  white-space: pre-wrap;
  margin: 0;
}

pre:empty {
  display: none;
}
